@charset "utf-8";

/*reset*/
* {
  margin: 0px;
  padding: 0px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
body {
  font-family: "Noto Sans KR", sans-serif;
}

html,
body {
  overflow-x: hidden;
}
